.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #e4ebf5;
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
}

.navbar_links{
  align-self: left;
  display: flex;
  margin-top: 10px;
}

.navbar_links>*{
  padding: 0.5rem;
}

.navbar_namebutton{
  font-size: xxx-large;
  font-weight: 300;
}

.navbar_links>*:hover{
  text-decoration: none;
}

.github_icon>*{
  width: 30px;
}

.linkedin_icon>*{
  width: 30px;
}

.navbar_icons>*{
  padding: 0.5rem;
}

.navbar_icons{
  display: flex;
  padding: 0.8rem;
  align-self: right;
}