.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #e4ebf5;
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  flex-wrap: wrap;
}

.navbar_links>a>div{
  align-self: center;
}
.navbar_links{
  align-self: left;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
}

.navbar_links>*{
  padding-left: 2.5px;
  padding-right: 2.5px;
  
}

.navbar_namebutton{
  font-size: xxx-large;
  font-weight: 300;
}

.navbar_links>*:hover{
  text-decoration: none;
}

.github_icon>*{
  width: 30px;
}

.linkedin_icon>*{
  width: 30px;
}

.navbar_icons>*{
  padding: 0.5rem;
}

.navbar_icons{
  display: flex;
  align-self: right;
  padding-top: 5px;
  justify-content: center;
}

@media (max-width:492px) {
  .navbar{
    justify-content: center;
  }
}

@media (max-width:400px) {
  .navbar_links>*{
    padding:2.5px;
  }
}